@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --Gradient: hsl(6, 100%, 80%);
  --PaleBlue: hsl(243, 100%, 93%);
  --GrayishBlue: hsl(229, 7%, 55%);
  --DarkBlue: hsl(228, 56%, 26%);
  --VeryDarkBlue: hsl(229, 57%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background: url(images/bg-desktop.png);
  background-position: 0% 120%;
  background-repeat: no-repeat;
  background-color: var(--VeryDarkBlue);
  overflow: hidden;
}

.content {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  min-height: 90vh;
}

.fylo {
  background-color: var(--DarkBlue);
  height: 0 auto;
  width: 50%;
  padding: 30px;
  border-radius: 5px 70px 5px 5px;
  margin-left: 3rem;
}

.logo {
  width: 8rem;
}

.icon {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon img {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--VeryDarkBlue);
  border-radius: 10px;
}

.doc img,
.folder img,
.upload img {
  padding: 10px;
}

.info {
  background-color: var(--DarkBlue);
  width: 80%;
  height: 8rem;
  margin-top: 2.8rem;
  margin-right: 15rem;
  padding: 2rem;
  border-radius: 10px;
}

.info p {
  color: var(--PaleBlue);
  font-weight: 400;
  word-spacing: 0.2rem;
}
p span {
  font-size: 16px;
  font-weight: 700;
}

.progress {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  background-color: var(--VeryDarkBlue);
  border-radius: 2rem 2rem;
}

.bar {
  display: flex;
  background: rgba(335, 100%, 65%);
  background: var(--Gradient);
  height: 0.7rem;
  width: 70%;
  border-radius: 2.2rem;
  margin-left: 0.2rem;
}

.dot {
  display: flex;
  background-color: white;
  width: 10%;
  height: auto;
  border-radius: 50%;
  max-width: 0.7rem;
  max-height: 0.7rem;
  margin-left: 18.8rem;
}

.span {
  display: flex;
  justify-content: space-between;
}

.span h2 {
  font-size: 14px;
  color: var(--PaleBlue);
  font-weight: 700;
}

.left {
  position: relative;
  width: 10%;
  background-color: var(--PaleBlue);
  top: -24rem;
  left: 58.3rem;
  height: auto;
  border-radius: 15px 0 0 15px;
}

.left::after {
  content: "";
  width: 0.5px;
  height: 0.5px;
  border-style: solid;
  border-width: 0 18px 18px 0;
  border-color: transparent var(--PaleBlue) transparent transparent;
  right: 0;
  top: 38px;
  position: absolute;
}

.left p {
  display: flex;
  font-weight: 700;
  font-size: 13px;
  color: var(--GrayishBlue);
  padding: 5px;
  align-items: center;
  word-spacing: 2px;
}

.left p span {
  font-weight: 700;
  color: var(--VeryDarkBlue);
  font-size: 25px;
  padding-right: 5px;
  padding-left: 5px;
}

.attribution {
  font-size: 18px;
  text-align: center;
  font-weight: 800;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 767px) {
  body {
    background: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
  }

  .fylo {
    align-content: center;
    margin-left: 0;
    width: 67%;
    border-radius: 10px 110px 10px 10px;
  }

  .info {
    background-color: var(--DarkBlue);
    width: 70%;
    height: 8rem;
    margin-right: 0rem;
  }

  .dot {
    display: flex;
    background-color: white;
    width: 10%;
    height: auto;
    border-radius: 50%;
    max-width: 0.7rem;
    max-height: 0.7rem;
    margin-left: 10rem;
  }

  .left {
    position: relative;
    width: 30%;
    background-color: var(--PaleBlue);
    top: -10rem;
    left: 11rem;
    height: auto;
    border-radius: 15px 15px 15px 15px;
  }

  .left::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent transparent;
  }
  .left p {
    padding: 10px;
  }
}
